<p id="notice"><%= notice %></p>
<h1> Have a guess... </h1>
<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<%= form_tag(answer_question_path) do %>

<p>
  <b>Answer 1:</b>
  <%= radio_button_tag(:answer, '1') %>
  <%= label_tag(:answer_1, @question.answer_one) %>
</p>

<p>
  <b>Answer 2:</b>
  <%= radio_button_tag(:answer, '2') %>
  <%= label_tag(:answer_2, @question.answer_two) %>
</p>

<p>
  <b>Answer 3:</b>
  <%= radio_button_tag(:answer, '3') %>
  <%= label_tag(:answer_3, @question.answer_three) %>
</p>

<p>
  <%= submit_tag("Submit") %> </p>

<% end %>